.modal-content {
    background-color: #fff; 
    margin: auto; 
    padding: 20px;
    border: 1px solid #888; 
    width: 80%;
    max-width: 800px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    position: relative;
}

.close {
    color: #333; 
    font-size: 32px;
    font-weight: bold; 
    position: absolute;
    right: 20px; 
    top: 10px; 
    cursor: pointer; 
}

.close:hover,
.close:focus {
    color: #e74c3c; 
}

.reservation-layout {
    display: flex; 
    justify-content: center; 
    width: 100%; 
}

.reservation-options, .reservation-summary {
    flex: 1; 
    padding: 20px;
    text-align: center; 
}

.reserve-image {
    width: 150px; 
    height: 240px; 
    object-fit: cover; 
    border-radius: 4px; 
    margin-bottom: 15px; 
}

.price-display {
    margin-top: 20px; 
    text-align: center; 
}

.reserve-button {
    padding: 10px 20px; 
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    margin-top: 15px; 
    width: auto; 
    max-width: 200px; 
}

.reserve-button:hover {
    background-color: #0056b3; 
}

.modal-content-details {
    margin-top: 20px; 
    padding: 10px; 
    background-color: #f9f9f9; 
    border-radius: 4px; 
    width: 100%; 
}

.total-price-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 15px; 
    width: 100%; 
}

.total-price-label {
    font-weight: bold; 
    margin-bottom: 15px; 
    text-align: center; 
}
.price-breakdown {
    margin-top: 10px; 
    font-size: 18px; 
    font-weight: bold; 
    color: #333; 
    padding: 15px; 
    background-color: #f1f1f1; 
    border-radius: 4px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border: 1px solid #eaeaea; 
}

.discount-section {
    margin-top: 5px; 
    font-weight: normal;
    color: #c0392b;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px; 
}
