.modal-content {
    background-color: #fff; 
    margin: auto; 
    padding: 20px;
    border: 1px solid #888; 
    width: 80%;
    max-width: 800px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex; 
    flex-direction: column; 
}

.close {
    color: #aaa; 
    float: right; 
    font-size: 28px;
    font-weight: bold; 
}

.close:hover,
.close:focus {
    color: black; 
    text-decoration: none; 
    cursor: pointer; 
}

.reserve-image {
    width: 150px; 
    height: 240px; 
    object-fit: cover; 
    border-radius: 4px; 
}

.reservation-layout {
    display: flex; 
    justify-content: space-between; 
}

.reservation-options {
    flex: 1; 
    padding-right: 20px; 
}

.reservation-summary {
    flex: 1; 
    padding-left: 20px; 
    border-left: 1px solid #eaeaea; 
}

.price-display {
    margin-top: 20px; 
}

.reserve-button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
}

.reserve-button:hover {
    background-color: #45a049; 
}

.modal-content-details {
    margin-top: 20px; 
    padding: 10px; 
    background-color: #f9f9f9; 
    border-radius: 4px; 
}

input[type="checkbox"] {
    margin-right: 10px; 
}

.price-breakdown {
    margin-top: 10px; 
    font-size: 18px; 
    font-weight: bold; 
    color: #333; 
    padding: 15px; 
    background-color: #f1f1f1; 
    border-radius: 4px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.date-picker-container {
    margin-top: 20px; 
}

.total-price-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 15px; 
}

.total-price-label {
    font-weight: bold; 
    margin-bottom: 15px; 
}

.reserve-button {
    padding: 10px 20px; 
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: 15px; 
}
